<div class="container text-monospace">
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">

        </div>
    </div>

</div>

<!--Jumbotrom-->
<div class="jumbotron jumbotron-fluid mb-0 text-monospace">
    <div class="container">
      <h1 class="display-4">Auto Pecas Auto</h1>
      <p class="lead">Nao ha nada que voce nao possa encontrar em nossos estoques. <p>E se nao achar a gente vasculha o universo atras ;)</p>
    </div>
</div>
<!--/Jumbotrom-->

<section class="pt-5 pb-5 bg-light body">
  <div class="container text-monospace">
      <div class="row">
          <div class="col-6">
              <h3 class="mb-3 text-light">Nosso time</h3>
          </div>

          <div class="col-6 text-right">
              <a class="btn btn-secondary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <span><</span>
              </a>
              <a class="btn btn-secondary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <span>></span>
              </a>
          </div>
          <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="/assets/img/estoquista.jpg"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Otavio Conde</h5>
                                          <p class="card-text">Estoquista</p>
                                              <a href="https://github.com/edudsfreitas" target="/blank" class="btn btn-dark">GitHub</a>
                                              <a href="https://www.linkedin.com/in/edu-freitas/" target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="/assets/img/mecanico.jpg"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Mauricio Roberto</h5>
                                          <p class="card-text">Mecanico</p>
                                              <a href="https://github.com/diasfernanda" target="/blank" class="btn btn-dark">GitHub</a>
                                              <a href="https://www.linkedin.com/in/fernanda-dias-644647201/" target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>


                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="/assets/img/vendedorBalconista.png"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Arthur Andrade</h5>
                                          <p class="card-text">Vendedor</p>
                                              <a href="https://github.com/giselescarvalho" target="/blank" class="btn btn-dark">GitHub</a>
                                              <a href="https://www.linkedin.com/in/gisele-da-silva-carvalho" target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                          </div>

                      </div>

                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://i.imgur.com/MhIAaOT.png"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Guilherme Melo</h5>
                                          <p class="card-text">DESENVOLVEDOR WEB JAVA JR.</p>
                                              <a href="https://github.com/Guifamelo" target="/blank" class="btn btn-dark">GitHub</a>
                                              <a href="https://www.linkedin.com/in/guilherme-faria-de-melo" target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="/assets/img/gerente.jpg"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Seu Osvaldo</h5>
                                          <p class="card-text">Gerente</p>
                                              <a href="" target="/blank" class="btn btn-dark">GitHub</a>
                                              <a href="" target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="/assets/img/estoquista.png"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Lucas Assis</h5>
                                          <p class="card-text">Estoquista</p>
                                              <a href="" target="/blank" class="btn btn-dark">GitHub</a>
                                              <a href="" target="/blank" class="btn btn-linkedin ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                          </div>

                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="d-flex justify-content-center text-monospace text-light body bg-secondary"><h5> Aqui o lema e trabalho! Contamos com profissionais altamente apacitatos e proativos para te atender como voce merece.</h5>
</div>

  