<!--Rodapé-->




<div class="row mb-0 bg-secondary">


    <div class="col-md-3 d-flex justify-content-start ">
        
        <a href="https://www.linkedin.com/in/guilherme-faria-de-melo-b14733103/" target="_blank" class="p-1">
            <img class="tm-social p-3" src="/assets/img/avengersLogo.png" alt="linkedin do criador da pagina" width="100px"
                height="100px">
        </a>
        <span>Auto Pecas Auto</span>
        <p>Voce satisfeito!</p>

    </div>

    <div class="col-md-3 d-flex justify-content-end  bg-secondary">
        <a href="https://www.linkedin.com/in/guilherme-faria-de-melo/" target="_blank" class="p-1">
            <img class="tm-social p-3" src="assets/icones/linkedin.png" alt="linkedin do criador da pagina" width="100px"
                height="100px">
        </a>
    </div>

    <div class="col-md-3 d-flex justify-content-end  bg-secondary">
        <a href="https://www.github.com/guifamelo" target="_blank" class="p-1">
            <img class="tm-social" src="/assets/icones/github.png" alt="linkedin do criador da pagina" width="100px"
                height="100px">
        </a>
    </div>

    <div class="col-md-3 d-flex justify-content-end  bg-secondary">
        <p class="text-center m-3">
            <span class="d-flex justify-content-center ">Peca delivery <img
                    src="/assets/icones/delivery.png" width="50px" height="50px" alt="icone delivery"></span> Todos os
            direitos reservados à Guifamelo©
        </p>
    </div>

</div>
<!--/Rodapé-->